0;95;c# Compiled
*.elc

# Packaging
.cask

# Packages
elpa/*

# xitkov
custom.el
.ido.last
history
.emacs_workgroups
projectile-bookmarks.eld
smex-items
tramp

eshell/*
.recentf

projectile.cache

.python-environments/*
snippets/*
autosaves/*
semanticdb/*
anaconda-mode/*

GTAGS
GPATH
GRTAGS

.edbi-ds-history
.mc-lists.el
